doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Custom la salle map
  body 
  p #{data}
  iframe(src="https://www.google.com/maps/d/u/1/embed?mid=15ySOR-yhKe3nlR5SMtApEULmMIDg7n8&ehbc=2E312F",
   frameborder="0",
   width="840",
   height="840"
   ) 